<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>{% block title %}{% endblock %}</title>

		{% block stylesheets %}
		<link href="{{ asset('bundles/ccdncomponentcommon/css/layout_body_left.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/ccdncomponentcommon/css/common.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/ccdncomponentcommon/css/tipsy.css') }}" rel="stylesheet" type="text/css">
		
		<link href="{{ asset('bundles/ccdncomponentcommon/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/ccdncomponentcommon/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css">
		
{#		<link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />#}
		{% endblock %}
		
		{% block javascripts %}
		<script src="{{ asset('bundles/ccdncomponentcommon/js/jquery-1.7.1.min.js') }}" type="text/javascript"></script>

		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ asset('bundles/ccdncomponentcommon/js/jquery.tipsy.js') }}" type="text/javascript"></script>
		
	    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/google-code-prettify/prettify.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-transition.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-alert.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-modal.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-dropdown.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-scrollspy.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-tab.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-tooltip.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-popover.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-button.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-collapse.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-carousel.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap-typeahead.js') }}"></script>
		{% endblock %}

		<script type='text/javascript'>
			$(function() {
				$('a[data-tipsy=north_west]').tipsy({fade: true, gravity: 'nw'});
				$('a[data-tipsy=north]').tipsy({fade: true, gravity: 'n'});
				$('a[data-tipsy=north_east]').tipsy({fade: true, gravity: 'ne'});
				$('a[data-tipsy=west]').tipsy({fade: true, gravity: 'w'});
				$('a[data-tipsy=east]').tipsy({fade: true, gravity: 'e'});
				$('a[data-tipsy=south_west]').tipsy({fade: true, gravity: 'sw'});
				$('a[data-tipsy=south]').tipsy({fade: true, gravity: 's'});
				$('a[data-tipsy=south_east]').tipsy({fade: true, gravity: 'se'});
			});
		</script>
    </head>
    <body>
		
		<div id="header">
			<div id="secondary_bar">
				{%- set header_links = param('ccdn_component_common.header_bar_links') -%}
				{%- for row, link in header_links -%}
					<a class="nav_link" href="{{ path(link['route']) }}">{{ link['label'] | trans({}, link['bundle']) }}</a>
				{%- endfor -%}
{#				<a class="nav_link" href="{{ path('cc_dashboard_index') }}">Dashboard</a>
				<a class="nav_link" href="{{ path('cc_members_index') }}">{{ 'layout.header_links.members' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="{{ path('cc_forum_category_index') }}">{{ 'layout.header_links.forum' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.downloads' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.answers' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.articles' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.knowledge_base' | trans({}, 'CCDNComponentCommonBundle') }}</a>#}
			</div>			
			
			<div id="primary_bar">
				<div id="primary_left">
					<div id="logo"><img class="site_logo" width="212" height="25" src="{{ asset('bundles/ccdncomponentcommon/images/layout/header/logo.png') }}" alt="site logo"></div>
					<div id="search">
					</div>
				</div>
				<div id="primary_right">
					{% if is_granted('ROLE_USER') %}
					<div class="bar_box">
						{% set message_count = unreadMessageCount() %}
						{% if message_count > 0 %}
						<a class="button_red" href="{{ path('cc_message_index') }}" data-tipsy="north" title="{{ 'message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') }}"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Silver/16x16/16x16_email.png') }}" alt="inbox">&nbsp;{{ message_count }}</a>
						{% else %}
						<a class="primary_bar" href="{{ path('cc_message_index') }}" data-tipsy="north" title="{{ 'message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') }}"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_email.png') }}" alt="inbox">&nbsp;{{ message_count }}</a>				
						{% endif %}
					</div>
					<div class="bar_box">
						<a class="primary_bar" href="{{ path('cc_profile_show') }}" data-tipsy="north" title="Account"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_account.png') }}" alt="account">&nbsp;{{ app.user.username }}</a>
					</div>		
					<div class="bar_box">
						<a class="primary_bar" href="{{ path('fos_user_security_logout') }}" data-tipsy="north" title="Sign out"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_sign_out.png') }}" alt="sign out">&nbsp;{{ 'layout.logout' |trans({}, 'FOSUserBundle') }}</a>
					</div>
					{% else %}
					<div class="bar_box">
						<a class="primary_bar" href="{{ path('fos_user_registration_register') }}" data-tipsy="north" title="Register"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_sign_up.png') }}" alt="register">&nbsp;{{ 'layout.register' |trans({}, 'FOSUserBundle') }}</a>
					</div>
					<div class="bar_box">
						<a class="primary_bar" href="{{ path('fos_user_security_login') }}" data-tipsy="north" title="Sign in"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_sign_in.png') }}" alt="sign in">&nbsp;{{ 'layout.login' |trans({}, 'FOSUserBundle') }}</a>
					</div>
					{% endif %}
				</div>
			</div>
			
		</div>
		
		<div id="body">
	        <div class="left_column_container">
				<div class="left_column">
					<div id="top"></div>
		            {% block body %}{% endblock %}
				</div>
	        </div>

	        <div class="right_column_container">
				<div class="right_column">
					<div class="well" style="padding: 8px 0 8px !important;">
						{% if is_granted('ROLE_MODERATOR') %}
						<ul class="nav nav-list">
							<li class="nav-header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</li>
							<li><a href="{{ path('cc_moderator_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>
							{% if is_granted('ROLE_ADMIN') %}
							<li><a href="{{ path('cc_admin_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>
							{% endif %}
							{% block sidebar %}

				            {% endblock %}
						</ul>
						{% endif %}
					</div>
				</div>
	        </div>
		</div>
		
		{% spaceless %}
		<div id="footer">
			<span class="footnote">
			Powered by <a href="http://www.github.com/codeconsortium/CCDNForum">CCDNForum</a>. Copyright <a href="http://www.codeconsortium.com/">CodeConsortium</a> 2012.<br>
			Graphics courtesy of <a href="http://pc.de">pc.de</a>. Smileys courtesy of <a href="http://www.freesmileys.org/copyright.php">freesmileys.org</a>
			</span>
		</div>
		{% endspaceless %}

    </body>
</html>