<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>{% block title %}{% endblock %}</title>

		{% block stylesheets %}
		<link href="{{ asset('bundles/ccdncomponentcommon/css/layout_body_left.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/ccdncomponentcommon/css/common.css') }}" rel="stylesheet" type="text/css">
		
		<link href="{{ asset('bundles/ccdncomponentcommon/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/ccdncomponentcommon/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css">		
		{% endblock %}
		
		{% block javascripts %}
		<script src="{{ asset('bundles/ccdncomponentcommon/js/jquery-1.7.1.min.js') }}" type="text/javascript"></script>

		<!-- Placed at the end of the document so the pages load faster -->	
	    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/google-code-prettify/prettify.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-transition.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-alert.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-modal.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-dropdown.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-tab.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-tooltip.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-popover.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-button.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-collapse.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-carousel.js') }}"></script>
	    <script src="{{ asset('bundles/ccdncomponentcommon/js/bootstrap/bootstrap-typeahead.js') }}"></script>
		{% endblock %}

		<script type='text/javascript'>
		<!--
			//$("body").ready(function() {
			$(document).ready(function() {
				// make visible js compat toolbars site wide
				$("[data-compat='interactive-js-compat']").removeClass('hidden');
				$("[data-compat='interactive-non-js-compat']").addClass('hidden');
						
				$('[data-tip]').each(function() {
					$(this).tooltip({
						placement: $(this).data('tip')
					});
				});
			});
		//-->
		</script>
		
    </head>
    <body>
	
		<div id="header_bar">
			<div id="secondary_bar">
				{%- set header_links = param('ccdn_component_common.header.header_bar_links') -%}
				{%- for row, link in header_links -%}
					<a class="nav_link" href="{{ path(link['route']) }}">{{ link['label'] | trans({}, link['bundle']) }}</a>
				{%- endfor -%}
{#				<a class="nav_link" href="{{ path('cc_dashboard_index') }}">Dashboard</a>
				<a class="nav_link" href="{{ path('cc_members_index') }}">{{ 'layout.header_links.members' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="{{ path('cc_forum_category_index') }}">{{ 'layout.header_links.forum' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.downloads' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.answers' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.articles' | trans({}, 'CCDNComponentCommonBundle') }}</a>
				<a class="nav_link" href="">{{ 'layout.header_links.knowledge_base' | trans({}, 'CCDNComponentCommonBundle') }}</a>#}
			</div>			

			<div id="primary_bar">
				<div id="primary_left">
					<div id="logo"><img class="site_logo" width="212" height="25" src="{{ asset('bundles/ccdncomponentcommon/images/layout/header/logo.png') }}" alt="site logo"></div>
					<div id="search">
					</div>
				</div>
				<div id="primary_right">
					{% if is_granted('ROLE_USER') %}
					<div data-compat="interactive-non-js-compat">
						<div class="bar_box">
							{% set message_count = unreadMessageCount() %}
							{% if message_count > 0 %}
								<a class="btn btn-danger" style="vertical-align: middle; font-weight: bold;" href="{{ path('cc_message_index') }}" title="{{ 'message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') }}">{{ message_count }}</a>
							{% else %}
								<a class="btn" style="vertical-align: middle;" href="{{ path('cc_message_index') }}" title="{{ 'message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') }}">{{ message_count }}</a>				
							{% endif %}
						</div>
						<div class="bar_box">
							<a class="primary_bar" href="{{ path(param('ccdn_component_common.header.account_route')) }}" title="Account"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_account.png') }}" alt="account">&nbsp;{{ app.user.username }}</a>
						</div>		
						<div class="bar_box">
							<a class="primary_bar" href="{{ path(param('ccdn_component_common.header.logout_route')) }}" title="Sign out"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_sign_out.png') }}" alt="sign out">&nbsp;{{ 'layout.header.logout' |trans({}, 'CCDNComponentCommonBundle') }}</a>
						</div>
					</div>
					
					
					<div class="hidden" data-compat="interactive-js-compat">
						<div class="btn-toolbar form-inline" style="margin-right: 60px;">
							
							{% set message_count = unreadMessageCount() %}
							{% if message_count > 0 %}
								<a class="btn btn-danger" style="vertical-align: middle; font-weight: bold;" href="{{ path('cc_message_index') }}" data-tip="bottom" title="{{ 'message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') }}">{{ message_count }}</a>								
							{% else %}
								<a class="btn" style="vertical-align: middle;" href="{{ path('cc_message_index') }}" data-tip="bottom" title="{{ 'message.inbox_status' | trans({'%message_count%': message_count }, 'CCDNMessageMessageBundle') }}">{{ message_count }}</a>				
							{% endif %}

							<div class="btn-group" style="vertical-align: middle; margin-left: 30px; border: 0px;">
								<a href="#" class="btn dropdown-toggle" style="border:0px; background:none; box-shadow:none;" data-toggle="dropdown">
									<img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_account.png') }}" alt="account">
									{{ app.user.username |capitalize }}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu pull-right" style="z-index: 20; margin-top:5px;">
									<li><a href="{{ path(param('ccdn_component_common.header.account_route')) }}"><i class="icon-cog"></i>&nbsp;{{ 'layout.header.account' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>
									<li><a href="{{ path(param('ccdn_component_common.header.profile_route')) }}"><i class="icon-user"></i>&nbsp;{{ 'layout.header.profile' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>
									<li class="divider"></li>
									<li><a href="{{ path(param('ccdn_component_common.header.logout_route')) }}"><i class="icon-lock"></i>&nbsp;{{ 'layout.header.logout' |trans({}, 'CCDNComponentCommonBundle') }}</a></li>									
								</ul>
							</div>
						</div>		
					</div>
					{% else %}
					<div class="bar_box">
						<a class="primary_bar" href="{{ path(param('ccdn_component_common.header.registration_route')) }}" data-tip="bottom" title="Register"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_sign_up.png') }}" alt="register">&nbsp;{{ 'layout.header.register' |trans({}, 'CCDNComponentCommonBundle') }}</a>
					</div>
					<div class="bar_box">
						<a class="primary_bar" href="{{ path(param('ccdn_component_common.header.login_route')) }}" data-tip="bottom" title="Sign in"><img class="icon16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_sign_in.png') }}" alt="sign in">&nbsp;{{ 'layout.header.login' |trans({}, 'CCDNComponentCommonBundle') }}</a>
					</div>
					{% endif %}
				</div>
			</div>

		</div>		

		
		<div id="body">
	        <div class="left_column_container">
				<div class="left_column">
					<div id="top"></div>
		            {% block body %}{% endblock %}
				</div>
	        </div>

	        <div class="right_column_container">
				<div class="right_column">
					<div class="well" style="padding: 8px 0 8px !important;">
						<ul class="nav nav-list">
						{% if is_granted('ROLE_MODERATOR') %}
							<li class="nav-header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</li>
							{% if app.request.attributes.get('_route') == 'cc_dashboard_show' or app.request.attributes.get('_route') == 'cc_moderator_cp' or app.request.attributes.get('_route') == 'cc_admin_cp' %}
								{% if is_granted('ROLE_ADMIN') %}
									{% if app.request.get('category') == 'admin' %}
										<li class="active"><a href="{{ path('cc_admin_cp') }}"><i class="icon-white icon-wrench"></i>&nbsp;{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>
									{% else %}
										<li><a href="{{ path('cc_admin_cp') }}"><i class="icon-wrench"></i>&nbsp;{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>								
									{% endif %}
								{% endif %}
								{% if app.request.get('category') == 'moderator' %}
									<li class="active"><a href="{{ path('cc_moderator_cp') }}"><i class="icon-white icon-wrench"></i>&nbsp;{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>
								{% else %}
									<li><a href="{{ path('cc_moderator_cp') }}"><i class="icon-wrench"></i>&nbsp;{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>								
								{% endif %}
							{% else %}
								{% if is_granted('ROLE_ADMIN') %}
									<li><a href="{{ path('cc_admin_cp') }}"><i class="icon-wrench"></i>&nbsp;{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>								
								{% endif %}
								<li><a href="{{ path('cc_moderator_cp') }}"><i class="icon-wrench"></i>&nbsp;{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></li>								
							{% endif %}
							<li class="divider"></li>
						{% endif %}

						{% block sidebar %}

			            {% endblock %}
						</ul>
					</div>

					{% block sidebar_filter_tags %}

		            {% endblock %}
		
					{% block sidebar_actions %}
					
					{% endblock %}
				</div>
	        </div>
		</div>
		



		
		{% spaceless %}
		<div id="footer">
			<span class="footnote">
			Powered by <a href="http://www.github.com/codeconsortium/CCDNForum">CCDNForum</a>. Copyright <a href="http://www.codeconsortium.com/">CodeConsortium</a> 2012.<br>
			Graphics courtesy of <a href="http://pc.de">pc.de</a>. Smileys courtesy of <a href="http://www.freesmileys.org/copyright.php">freesmileys.org</a>
			</span>
		</div>
		{% endspaceless %}

    </body>
</html>