{%- spaceless -%}

	{%- if is_granted('ROLE_MODERATOR') -%}
		
		{%- set route = app.request.attributes.get('_route') -%}
		{%- set request = app.request.get('category') -%}
	
		<li class="nav-header">{{- 'ccdn_component_common.sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') -}}</li>
		
		{%- if route == 'ccdn_component_dashboard_index' -%}
			<li class="active"><a rel="nofollow" href="{{- path('ccdn_component_dashboard_index') -}}"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.all_dashboard' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
		{%- else -%}
			<li><a rel="nofollow" href="{{- path('ccdn_component_dashboard_index') -}}"><i class="icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.all_dashboard' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
		{%- endif -%}
			
		{%- if route == 'ccdn_component_dashboard_show' 
		    or route == 'ccdn_component_common_moderator_cpanel'
		    or route == 'ccdn_component_common_admin_cpanel' -%}
		
			{%- if is_granted('ROLE_ADMIN') -%}
				{%- if request == 'admin' -%}
					<li class="active"><a rel="nofollow" href="{{- path('ccdn_component_common_admin_cpanel') -}}"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.administrate' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
				{%- else -%}
					<li><a rel="nofollow" href="{{- path('ccdn_component_common_admin_cpanel') -}}"><i class="icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.administrate' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
				{%- endif -%}
			{%- endif -%}
			{%- if request == 'moderator' -%}
				<li class="active"><a rel="nofollow" href="{{- path('ccdn_component_common_moderator_cpanel') -}}"><i class="icon-white icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.moderate' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
			{%- else -%}
				<li><a rel="nofollow" href="{{- path('ccdn_component_common_moderator_cpanel') -}}"><i class="icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.moderate' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
			{%- endif -%}
		{%- else -%}
			{%- if is_granted('ROLE_ADMIN') -%}
				<li><a rel="nofollow" href="{{- path('ccdn_component_common_admin_cpanel') -}}"><i class="icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.administrate' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
			{%- endif -%}
			<li><a rel="nofollow" href="{{- path('ccdn_component_common_moderator_cpanel') -}}"><i class="icon-wrench"></i>&nbsp;{{- 'ccdn_component_common.general.view.link.moderate' | trans({}, 'CCDNComponentCommonBundle') -}}</a></li>
		{%- endif -%}
		
		<li class="divider"></li>
		
	{%- endif -%}
{%- endspaceless -%}
